<%- layout('boilerplate') %>
<link rel="stylesheet" href="/css/star.css" type="text/css">


<div class="container mt-5 mb-5">
  <h1 class="text-center m-5"><%= ground.name.toUpperCase()%></h1>
  <div class="row">

    <div class="col-md-6">
        <div class="card" >
            <img src="<%= ground.image.url%>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= ground.name%></h5>
              <p class="card-text"><%= ground.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-muted"><%= ground.location%></li>
              <li class="list-group-item ">Created by  <%= ground.author.username%></li>
              <li class="list-group-item">₹<%= ground.price%> /hour</li>
              <li class="list-group-item"><%= ground.category%>&nbsp;&nbsp;Court</li>
              <% if (ground.number) { %>
                <a href="tel:+91<%= ground.number %>" class="btn btn-sm btn-primary m-3">Contact us</a>
              <% } %>
            </ul>
            
            <% if(currentUser && ground.author._id.equals(currentUser._id)) { %>
              <div class="card-body">
                <a href="/grounds/<%= ground._id%>/edit" class="card-link btn btn-primary">Edit</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">delete</button>
                
                
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirmation !!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Are you sure , you want to delete <%= ground.name%> 
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                        <form action="/grounds/<%= ground._id %>?_method=DELETE" method="post" class="d-inline ">
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
                
              </div>
              <% } %>


          </div>
      </div>

      <div class="col-md-6 col-12">
        <div class="">
<% if (currentUser) { %>
 
  <h3 class="text-center">leave a review</h3>
  <div class="card p-4 mb-4">
    <form action="/grounds/<%= ground._id %>/new" method="post" class="validated-form" novalidate>
      <div class="mb-3">
        <!-- <label for="customRange2" class="form-label">Rating</label>
        <input type="range" class="form-range" min="1" max="5" id="customRange2" name="rating" required> -->

        <fieldset class="starability-basic">
          <h6>Rating</h6>
          <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
          <input type="radio" id="second-rate1" name="rating" value="1" />
          <label for="second-rate1" title="Terrible">1 star</label>
          <input type="radio" id="second-rate2" name="rating" value="2" />
          <label for="second-rate2" title="Not good">2 stars</label>
          <input type="radio" id="second-rate3" name="rating" value="3" />
          <label for="second-rate3" title="Average">3 stars</label>
          <input type="radio" id="second-rate4" name="rating" value="4" />
          <label for="second-rate4" title="Very good">4 stars</label>
          <input type="radio" id="second-rate5" name="rating" value="5" />
          <label for="second-rate5" title="Amazing">5 stars</label>
        </fieldset>



      </div>
      <div class="mb-3">
        <label for="description" class="form-label"> Review</label>
        <textarea class="form-control" id="description" rows="3"  name="review" required></textarea>
        <div class="my-3">
          <button class="btn btn-success" style="width: 100%;">leave a review</button>
        </div>
      </div>
    </form>
  </div>
  <% } %>

          <% if (reviews.reviews&&reviews.reviews.length) { %>
            <h4 class="m-2 text-center">Reviews</h4>
          <% } %>
            
            <% for(let p of reviews.reviews){ %> 
              <div class="card p-4 mb-3">

                <div class="card-title">
                  <p class="starability-result" data-rating="<%= p.rating %>">
                    Rated: <%= p.rating %> stars
                  </p>

                </div>
                <div class="card-text">
                  <h5><%= p.review %> </h5>
                </div>
                <div class="card-sub-title text-muted mb-3">by @<%= p.author.username %></div>
                
            <% if(currentUser && p.author.equals(currentUser._id)) { %>

                <div class="">
                  <button href="" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#review-delete">Delete</button>
                  
                  <div class="modal fade" id="review-delete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Confirmation !!</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          Are you sure , you want to delete this review !!!! 
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                          <form action="/grounds/<%= ground._id %>/review/<%=p.id%>?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <% } %> 
              </div>
              <% } %> 
              
            </div>
          </div>


  </div>
</div>

<script>
    (function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.from(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>