 <%- layout('boilerplate') %> 

<div class="container">
  <div class="text-center mt-5 mb-5">
    <h1>All Turfs and grounds  </h1>
   </div>
   <% for(let ground of grounds){ %> 
   <div class="card mb-4">
      <div class="row">
        <div class="col-md-4 col-12 align-center">
          <img src="<%= ground.image %> " alt="" class="img-fluid"style="max-width:200%;">
        </div>
        <div class="col-md-8 col-12">
          <div class="card-body">
            <h5 class="card-title"><%= ground.name %> </h5>
            <p class="card-text">
              <%= ground.description %>
            </p>
            <p class="card-text">
              <small class="text-muted">
                <%= ground.location %>
              </small>
            </p>
            <a href="/grounds/<%= ground._id %>" class="btn btn-primary">view  <%= ground.name %></a>
          </div>
        </div>
      </div>
   </div>
  <% } %> 
</div>