 <%- layout('boilerplate') %> 
 
 <% for(let ground of grounds){ %> 
<section class="container mt-5 justify-content-center col-md-6 mb-5" >
    <div class="card p-3" >
        <img src="<%= ground.image %> " class="card-img-top" alt="...">
        <div class="card-body justify-content-center">
          <h5 class="card-title"><%= ground.name %></h5>
          <p class="text-muted">₹<%= ground.price %>/hr</p>
          <p class="card-text"><%= ground.category %></p>
          <p class="card-text text-muted"><%= ground.description %></p>
          <a href="/grounds/<%= ground._id %>" class="btn btn-primary">view details</a>
        </div>
      </div>
</section>
<% } %> 